*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}


body{
  background-color: #F28AB2;
  font-family: 'Poppins', sans-serif;
}

main {
  margin: auto;
  height: 80vh;
  width: 30%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 5px lightgray;
}

button{
  display: block;
  margin: 30px auto;
  font-size: 20px;
  width: 150px;
  height: 50px;
  text-align: center;
  background-color: #F28AB2;
  color : white;
  border-radius: 5px;
  cursor: pointer;
}

main .text {
  font-size: 25px;
  text-align: center;
  padding: 20px;
}

.list--info{
  margin-left: 20px;
}

.list--img{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--light-shadow);
}

.list--section{
  margin-left: 50px;
  display: flex;
  align-items: center;
}